<link rel="micropub" href="https://momoh.sh/micropub/main">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />

<link href="https://micro.blog/shaqzle" rel="me"/>
<link href="https://github.com/shaq" rel="me"/>
<link href="mailto:aq@momoh.sh" rel="me"/>
<link href="https://twitter.com/shaqzle" rel="me"/>

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

{{ template "_internal/twitter_cards.html" . }}