{{define "main"}}
<main class="posts">
    {{- range .Data.Pages.GroupByDate "2006" }}
        <div class="posts-group">
            <div class="post-year">{{ .Key }}</div>

            <ul class="posts-list">
                {{- range .Pages }}
                    <li class="micropost-post grow">
                        <a>
                            {{ partial "preview_micropost.html" . }}
                        </a>
                    </li>
                {{- end }}
            </ul>
        </div>
    {{- end }}
</main>
{{end}}